@page
@model HomeDevices.Net.Server.Web.Areas.Integrations.Pages.IndexModel
@{
}
<div class="jumbotron">
    <div class="row row-cols-2">
        <div class="col-md-2"><img height="50" src="~/img/integrations.svg" /></div>
        <div class="col"><h5>Integrations</h5></div>
    </div>
</div>